.Kpi {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border: var(--border);
  border-radius: var(--border-radius);

  .label {
    font-family: custom-regular;
    font-size: 1rem;
  }

  .value {
    font-family: custom-bold;
    font-size: 1.3rem;
  }
}
