.Kpis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.7rem;

  .switch-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    .switch-label {
      cursor: pointer;
      font-size: 0.9rem;
      color: var(--primary-font-color);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
    }

    .selected {
      color: var(--primary-highlight-color);
      opacity: 1;
    }
  }
}
