.TopStores {
  width: 70%;

  .title-selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  button.selected {
    color: #ff6b00;
    font-weight: bold;
  }
}
