.DisplaySettingsDialog {
  p {
    padding-bottom: 6px !important;
    border-bottom: var(--border) !important;
  }

  .MuiDialog-paper {
    font-family: custom-regular !important;
    color: var(--primary-font-color);
    background-color: #070c10f4;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .form-title {
    font-family: custom-bold !important;
    font-size: 1.3rem !important;
  }

  .settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding-top: 16px;

    .form-label {
      color: var(--primary-font-color) !important;
    }
  }
}
