.List {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 16px 0;
  margin: 0;
  list-style: none;
  width: 100%;

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem 0;
    width: 100%;
    font-size: 0.9rem;

    .key {
      flex-grow: 1;
    }

    .value {
      flex-grow: 1;
      text-align: right;
    }
  }
}
