.NavBar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 5.8rem;
  padding: 8px 32px;
  box-shadow: rgba(0, 0, 0, 0.98) 0px 25px 20px -20px;

  .app-title {
    z-index: 2;
    font-family: custom-bold;
    font-size: 1.55rem;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: 0;
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0;
      margin: 0;
      list-style: none;

      > li {
        font-size: 1rem;
      }
    }
  }
}

#mobile-menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  z-index: 3;
}

#desktop-menu {
  display: none;
}

#mobile-menu {
  display: initial;

  .MuiPaper-root {
    outline: transparent;
    border: none;
    background-color: #0f2f59;
  }
}

@media screen and (min-width: 1080px) {
  .NavBar {
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
    height: auto;
  }

  #mobile-menu-icon {
    display: none;
  }

  #desktop-menu {
    display: flex;
  }

  #mobile-menu {
    display: none;
  }
}
