/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: custom-bold;
  src: url("./assets/fonts/Urbanist-Bold.ttf");
}

@font-face {
  font-family: custom-regular;
  src: url("./assets/fonts/Urbanist-Regular.ttf");
}

@font-face {
  font-family: custom-thin;
  src: url("./assets/fonts/Urbanist-Thin.ttf");
}

#analytics-container {
  /* pass */
}

.title {
  font-family: custom-bold;
  font-style: oblique;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}
