/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: custom-bold;
  src: url("./assets/fonts/Urbanist-Bold.ttf");
}

@font-face {
  font-family: custom-regular;
  src: url("./assets/fonts/Urbanist-Regular.ttf");
}

@font-face {
  font-family: custom-thin;
  src: url("./assets/fonts/Urbanist-Thin.ttf");
}

/* ___________________ GLOBAL ____________________________ */
:root {
  --color: #fc3e74;
  --color: #d71c60;
  --color: #19122d;
  --color: #4aa7f1;
  --color: #2265c1;
  --color: #5845ba;
  --color: #feffff;

  --border: 1px solid rgba(0, 0, 0, 0.199);
  --border-radius: 4px;
  --section-gap: 20px;
}

#analytics-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--section-gap);
  padding: 0.5rem 2rem;
}

.title {
  font-family: custom-bold;
  font-style: oblique;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Heading for charts */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 234px;
  gap: var(--section-gap);
}

.order-history {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: var(--border);
  border-radius: var(--border-radius);
}
