.TopStreaks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 16px 0 16px;
  border: var(--border);
  border-radius: var(--border-radius);
}
