.Streaks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 16px 0 16px;
  border: var(--border);
  border-radius: var(--border-radius);

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-family: custom-bold;
      font-size: 1.35rem;
      font-style: oblique;
      padding: 0;
      margin: 0;
    }
  }
}
